#content{position:relative;z-index:-1}
#commentform label{display:inline-block;margin-top:-28px;line-height:10px}
input.submit{padding:4px 0!important}
#flickr .flickr_badge_image{margin:15px 25px 0 0} 
#content { z-index: 1 !important; }
#footer p { position: relative; }
.ads125 { float: left; position: relative; }
.sharepost { float: left; background: #fff; z-index: 1; position: fixed; top: 14em; margin-left: -5em; }
.sharepost-right { float: right; background: #fff; z-index: 1; position: fixed; top: 14em; margin-left: 1em; }