h1#intro { background:#fff url(../images/byemom-feature.png) no-repeat 0 -91px; font-size:31px;
  padding:164px 0; text-align:right; text-shadow:0 1px 3px rgba(255,255,255,.6);
  font-weight:normal; margin-bottom:0 }

a#download { float:right; margin-top:-86px; width:295px }
  a#download:hover { text-decoration:none }
  #download img { height:117px; float:left; margin-right:1em; border:1px solid #999;
    box-shadow:0 1px 3px rgba(0,0,0,.3); -moz-box-shadow:0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,.3) }
  #download i { display:block; font-size:11px }
  
#blurb { padding:25px 0 }

#guides { text-align:center; background:#fff; background:rgba(255,255,255,.8); overflow:hidden;
  padding-bottom:32px }
  #guides a { float:left; width:283px; background-repeat:no-repeat; margin-right:30px;
    background-position:top center; vertical-align:top; text-align:justify; color:#333 }
  #guides a:hover { text-decoration:none } 
  #guides a strong { display:block; margin-bottom:5px; font-size:16px; color:#970505;
    text-align:center }
  #guides a:hover strong { text-decoration:underline }
  #guides a img { border:1px solid #aaa; display:block; margin:2.6em auto;
    box-shadow:1px 1px 3px rgba(0,0,0,.6); -moz-box-shadow:1px 1px 3px rgba(0,0,0,.6);
    -webkit-box-shadow:1px 1px 3px rgba(0,0,0,.6) }
   
#content blockquote { width:33em; float:right; background:rgba(255,255,255,.6);
  padding:.6em; border-radius:5px; -moz-border-radius:5px; border:1px dotted #eee }
  #content blockquote img { float:left; margin:0 1em 1em 0; border:3px double #ddd;
    box-shadow:0 3px 5px rgba(0,0,0,.4); -moz-box-shadow:0 3px 5px rgba(0,0,0,.4);
    -webkit-box-shadow:0 3px 5px rgba(0,0,0,.4) }
  #content blockquote strong { display:block; margin-bottom:1em }
  #content blockquote i { display:block; margin-top:1em; clear:both; color:#999 }
  
#guide_thumb { float:left; margin:0 1.6em 1.6em 0; border:1px solid #666;
  -moz-box-shadow:1px 1px 3px rgba(0,0,0,.6); box-shadow:1px 1px 3px rgba(0,0,0,.6);
  -webkit-box-shadow:1px 1px 3px rgba(0,0,0,.6) }
  